.tooltip-container{
    position: fixed;
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 0.15s ease, transform 0.15s ease;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    width: 600px;
    height: auto;
    pointer-events: none;
    background-color: black;
    border-radius: 30px;
}

.tooltip-container.show{
    opacity: 1;
    transform: translate(-50%, -60%) scale(1);
}

.movie-backDrop{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 350px;
}

.tooltip-button-container{
    padding: 14px;
    display: flex;
    gap: 10px;
}

.tooltip-header{
    font-size: 40px;
    margin: 0px;
    padding-left: 14px;
}

.tooltip-movie-description{
    padding: 14px;
    font-size: 24px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: lighter;
    display: -webkit-box;
    -webkit-line-clamp: 2;      /* number of lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
}